@import '../../colors.scss' ;
@import '../../variables.scss' ;
@import '../../mixins.scss' ;
body{
    background-color: darken($whiteColor1,5%) ;
}
main{
    width: 90vw ;
    height: auto;
    margin: $sectionsDist auto 0 auto;
    display: flex ;
    @include flex(row,flex-start,flex-start,nowrap,"") ;   
    .wrapper,aside{
        height: auto ;
        display: flex ;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
    }
    aside{
        box-shadow: 0 0 .3em .1em $shadowColor ;
        border: 3px solid $whiteColor2 ;
        background-color: white ;
    }

    .wrapper{
        width: 100% ;
        #article,#comments{
            box-shadow: 0 0 .3em .1em $shadowColor ;
            border: 3px solid $whiteColor2 ;
            background-color: white ;
        }
        #breadcumb{
            width: 100% ;
            height: auto;
            padding: $dist1 $dist2 ;
            background-color: white ;
            box-shadow: 0 0 .3em .1em $shadowColor ;
            border-radius: $dist1 ;
            display: flex ;
            @include flex(row,flex-start,center,wrap,flex-start) ;
            > a,i{
                margin: 0 $dist1 ;
                color: $greyColor2 ;
                cursor: pointer;
            }
            a{
                font-size: $font-m ;
            }
            i{
                font-size: $font-l ;
            }
            i.fa-angle-left{transform: translateY(8%);}

        }
    }
    #article,#comments{width: 100% ; height: auto;}
    #article{
        margin-top: $dist3 ;
        .bg{
            width: 100% ;
            height: 20em;
            background: url('../../assets/imgs/grid3.jpg') center center no-repeat ;
            background-size: cover ;
            position: relative;
            &::before{
                content: '';
                @include fullSize-abs ;
                background-color: $blackFilter2 ;
            }
            .content{
                width: auto ;
                height: auto;
                position: absolute ;
                right: 0 ;
                top: 70% ;
                display: flex ;
                @include flex(column,flex-start,flex-start,nowrap,"") ;
                padding: 0 $dist2 ;
                img{
                    width: 3em ;
                    height: 3em;
                    border-radius: 50% ;
                }
                .bottom_row{
                    width: auto ;
                    height: auto;
                    display: flex ;
                    @include flex(row,flex-start,center,wrap,flex-start) ;
                    .writer_name,.date,.comments_num{
                        margin: 0 $dist2 ;
                        &:first-child{margin-right: 0 ;}
                    }
                    .writer_name,.date{
                        font-size: $font-m ;
                        color: $whiteColor2 ;
                    }
                    .comments_num{
                        width: auto ;
                        height: auto;
                        display: flex ;
                        @include flex(column,flex-start,center,nowrap,"") ;
                        transform: translateY(-.6em) ;
                        i,p{color: $whiteColor2};
                        i{font-size: $font-xl ;}
                        p{; font-size: $font-m;}
                    }
                }
            }
        }
        .text{
            width: 100% ;
            height: auto;
            display: flex ;
            @include flex(column,flex-start,flex-start,nowrap,"") ;
            h4,p{
                margin-top: $dist1 ;
                padding: 0 $dist2 ;
            }
            h4{
                font-size: $font-xl + .5em ;
                font-weight: 700 ;
                color: $darkColor ;
                width: 100% ;
                height: auto;
                line-height: $dist3 ;
                padding-right: $dist2 - .5em ;
            }
            p{
                font-size: $font-m ;
                color: lighten($darkColor,4%) ;
                width: 100% ;
                height: auto;
                padding-bottom: $dist3 ;
            }
        }
        
    }
    aside{
        flex-shrink: 0 ;
        border-radius: $dist1 ;
        width: 15em ;
        height: auto;
        margin-right: 5% ;
        padding-bottom: $dist2 ;
        #latest{
            width: 100% ;
            height: auto;
            display: flex ;
            @include flex(column,flex-start,center,nowrap,"") ;
            h4,.article{margin-top: $dist2 ;}
            h4{
                font-size: $font-l ;
                color: $darkColor ;
                font-weight: 700 ;
                width: 100% ;
                height: auto;
                padding-right: 5% ;
            }
            .article{
                width: 90% ;
                height: 8em;
                position: relative ;
                background-position: center center ;
                background-repeat: no-repeat ;
                background-size: 100% 100% ;
                transition: all .3s ease-in-out ;
                border-radius: $dist1 ;
                &:nth-child(2){background-image: url('../../assets/imgs/grid2.jpg');}
                &:nth-child(3){background-image: url('../../assets/imgs/grid2.jpg');}
                &:nth-child(4){background-image: url('../../assets/imgs/grid2.jpg');}
                &:nth-child(5){background-image: url('../../assets/imgs/grid2.jpg');}
                &::before{
                    content: '' ;
                    @include fullSize-abs;
                    background-color: $blackFilter2 ;
                    border-radius: $dist1 ;

                }
                &:hover{
                    background-size: 130% 130% ;
                }
                .content{
                    width: 100% ;
                    height: 40%;
                    position: absolute ;
                    right: 0 ;
                    top: 60% ;
                    display: flex ;
                    @include flex(column,flex-start,center,nowrap,"") ;
                    h6,p{
                        width: 95% ;
                        text-align: center ;
                        height: auto;
                        color: $whiteColor2 ;     
                        @include ellipse ;             
                    }
                    h6{
                        font-size: $font-l ;
                        font-weight: 400 ;                
                    }
                    p{
                        font-size: $font-m - .2em ;
                        margin-top: $dist1 - .2em ;
                    }
                }
            }
        }
        #popular{
            width: 100% ;
            height: auto;
            display: flex ;
            @include flex(column,flex-start,flex-start,nowrap,"");
            margin-top: $dist3 ;
            h4{
                font-size: $font-l ;
                color: $darkColor ;
                font-weight: 700 ;
                width: 100% ;
                height: auto;
                padding-right: 5% ;
            }
            a{
                width: 100% ;
                height: 8em;
                display: flex ;
                @include flex(row,flex-start,center,nowrap,"") ;
                margin-top: $dist1 ;

                .img{
                    border-radius: $dist1 ;

                    flex-shrink: 0 ;
                    width: 7em ;
                    height: 7em ;
                    background-position: center center ;
                    background-repeat: no-repeat;
                    background-size: 100% 100% ;
                    transition: all .3s ease-in-out ;
                    position: relative ;
                    &::before{
                        border-radius: $dist1 ;
                        content: '' ;
                        @include fullSize-abs ;
                        // background-color: $blackFilter2 ;
                    }
                }
                &:nth-child(1){.img{background-image: url('../../assets/imgs/grid2.jpg');}}
                &:nth-child(2){.img{background-image: url('../../assets/imgs/grid2.jpg');}}
                &:nth-child(3){.img{background-image: url('../../assets/imgs/grid2.jpg');}}
                &:nth-child(4){.img{background-image: url('../../assets/imgs/grid2.jpg');}}
                .content{
                    width: auto ;
                    height: auto;
                    margin-right: $dist1 ;
                    display: flex ;
                    @include flex(column,space-around,flex-start,nowrap,"") ;
                    h4,p{
                        margin-top:  $dist1  ;
                    }
                    h4{
                        width: auto  ;
                        font-size: $font-m - .1em ;
                        color: $darkColor ;
                        font-weight: 700 ;
                        @include multiEllipse(3,1.5em,$darkColor);
                    }
                    p{
                        font-size: $font-m - .2em ;
                        color: $greyColor2 ;
                    }
                }
                &:hover{
                    .img{
                        background-size: 120% 120% ;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1000px){
    main{
        font-size: 16px ;
    }
}
@media screen and (max-width:750px){
    main{
        @include flex(column,flex-start,center,nowrap,"") ;   
        .wrapper{
            width: 100% ;
        }
        aside{
            flex-shrink: none ;
            width: 100% ;
            margin-top: $dist3 ;
            margin-right: 0 ;
            #latest{
                @include flex(row,flex-start,center,wrap,flex-start) ;
                .article{
                    width: calc((100% - (2 * 1em)) / 2) ;
                    margin: $dist1 ;
                    height: 10em;
                    .content{
                        h6{
                            font-size: $font-xl ;
                        }
                        p{
                            font-size: $font-m  ;
                        }
                    }
                }
            }
            #popular{
                margin-top: $dist2 ;
                #tabs_popular{
                    display: flex ;
                    @include flex(row,flex-start,flex-start,wrap,flex-start) ;
                }
                a{
                    padding: $dist1 ;
                    padding-left: 0 ;
                    width: calc((100% - (2 * 1em)) / 2) ;
                    margin: $dist1 ;
                    height: auto;
                    .img{
                        width: 10em ;
                        height: 10em ;
                    }              
                    .content{
                        h4{
                            font-size: $font-l  ;
                        }
                        p{
                            font-size: $font-m  ;
                        }
                    }
                  
                }
            }
        }
    }
}
@media screen and (max-width:600px){
    main{
        font-size: 13px ;
      
    }
}
@media screen and (max-width:450px){
    main{
        aside{
            #latest{
                .article{
                    width: calc((100% - (1 * 1em)) / 1) ;
                    margin: $dist1 ;
                    height: 13em;
                    .content{
                        h6{
                            font-size: $font-xl ;
                        }
                        p{
                            font-size: $font-m  ;
                        }
                    }
                }
            }
            #popular{
                
                a{
                    width: calc((100% - (1 * 1em)) / 1) ;
                    margin: $dist1 ;
                    height: auto;
                    .img{
                        width: 11em ;
                        height: 11em ;
                    }              
                    .content{
                        h4{
                            font-size: $font-l  ;
                        }
                        p{
                            font-size: $font-m  ;
                        }
                    }
                  
                }
            }
        }
    }
}
@media screen and (max-width:350px){
    main{
        font-size: 10px ;
      
    }
}