@import '../../colors.scss' ;
@import '../../variables.scss' ;
@import '../../mixins.scss' ;
main{
    .wrapper{
        #comments{
            width: 100% ;
            height: auto;
            display: flex ;
            @include flex(column,flex-start,flex-start,nowrap,"") ;
            padding: 0 1em 1em 1em ;
            margin-top: $dist3 ;
            .add_comment,#user_comment,.comment{
                margin-top: $dist2 ;
            }
            .add_comment{
                width: auto ;
                height: auto;
                padding: ($dist1 + .2em) ($dist3 + .2em) ;
                font-size: $font-l - .1em;
                border-radius: $dist3 ;
                cursor: pointer;
                color: $whiteColor2 ;
                background-color: lighten($primaryColor,5%) ;
            }
            #user_comment{
                width: 100% ;
                height: auto;
                padding: $dist1 $dist1 $dist3 $dist1 ; ;         
                margin-top: 0 ;
                display: flex ;
                @include flex(column,flex-start,flex-start,nowrap,"") ;
                border-bottom: 1px solid $greyColor2 ;
                .infos,textarea,button[type="submit"]{
                    margin-top: $dist2 ;
                }
                .infos{
                    width: 100% ;
                    height: auto;
                    display: flex ;
                    @include flex(row,flex-start,center,nowrap,"") ;
                    input{
                        width: 45% ;
                        height: 3em;
                        border-radius: $dist3 ;
                        background-color: white ;
                        border: 1px solid $greyColor2 ;
                        padding: $dist1 ;
                        color: $darkColor ;
                        font-size: $font-m + .05em ;
                        cursor: pointer;
                        &::placeholder{color: $greyColor2 ; font-size: $font-m + .05em ;}
                        &:nth-child(2){
                            margin-right: 10% ;
                        }
                    }
                    input.error{border: 1.5px solid lighten(crimson,15%);}
                }
                textarea{
                    width: 100% ;
                    height: 15em;
                    font-size: $font-m ;
                    color: $darkColor ;
                    padding: $dist1 ;
                    line-height: $dist3 + .2em;
                    border: 1px solid $greyColor2 ;
                    &::placeholder{
                        font-size: $font-m ;
                        color: $greyColor2 ;
                    }
                }
                textarea.error{border: 1.5px solid lighten(crimson,15%);}
                button[type="submit"]{
                    width: auto ;
                    height: auto;
                    border-radius: $dist3 ;
                    padding: ($dist1 + .2em) ($dist3 + .5em) ;
                    color: $whiteColor2 ;
                    font-size: $font-l ;
                    cursor: pointer;
                    margin-left: auto ;
                    margin-right: auto ;
                    background-color: $greenColor2 ;
                }
            }
            #user_comment.addTransition{
                transition: all .4s ease-in-out ;
            }
            #user_comment.hide{
                height: 0;
                visibility: hidden ;
                opacity: 0;
                padding-bottom: 0 ;
            }
            #user_comment.show{
                visibility: visible ;
                opacity: 1;
                padding-bottom: $dist3 ;
            }
            .comment{
                padding: $dist2 0 ;
                width: 100% ;
                height: auto;
                border-bottom: 1px solid $greyColor2 ;
                display: flex ;
                @include flex(row,flex-start,flex-start,wrap,flex-start) ;           
                .img_data{
                    width: auto;   
                }
                p.name{
                    width: 10%; 
                    @include ellipse ;
                    margin-right: $dist1 ;
                    transform: translateY(2em) ;
                }
                .content{
                    max-width: 75% ;
                    margin-right: $dist1 ;
                }
                .reply{width: 100%;}
                .img_data{
                    height: auto;
                    display: flex ;
                    @include flex(column,flex-start,center,nowrap,"") ;
                    img{
                        width: $dist4 ;
                        height: $dist4;
                        border-radius: 50% ;
                    }
                    .date{
                        width: 100% ;
                        text-align: center ;
                        color: $greyColor2 ;
                        font-size: $font-m - .1em ;
                        margin-top: $dist2 ;
                    }
                }
                p.name{
                    height: auto;
                    color: $greyColor2 ;
                    font-size: $font-m - .1em ;
                }
                .content{
                    height: auto;
                    display: flex ;
                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                    .text{
                        width: 100% ;
                        height: auto;
                        color: $darkColor ;
                        font-size: $font-m ;
                        line-height: $dist3 + .2em ;
                    }
                    .likes_reply{
                        width: auto ;
                        height: auto;
                        margin-top: 0 ;
                        display: flex ;
                        @include flex(row,flex-start,center,nowrap,"") ;
                        .likes,.reply{
                            width: auto ;
                            height: auto;
                            display: flex ;
                            @include flex(row,flex-start,center,nowrap,"") ;  
                            i{
                                font-size: $font-l ;
                                cursor: pointer;
                                color: $greyColor2 ;
                            }
                            i.fa-heart.red{color: lighten(crimson,15%);}
                            p{
                                font-size: $font-m ;
                                color: $greyColor2 ;
                                margin-right: $dist1 ;
                            }
                        }
                        .reply{
                            cursor: pointer;
                            margin-right: $dist2 ;
                        }
                    }
                }
                form.reply{
                    height: auto;
                    width: 80% ;
                    margin-left: auto ;
                    margin-right: auto ;
                    display: flex ;
                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                    padding: $dist1 ;
                    textarea{
                        width: 100% ;
                        height: 10em;
                        padding: $dist1 ;
                        color: $darkColor ;
                        font-size: $font-m ;
                        border: 1px solid $greyColor2 ;
                        &::placeholder{
                            font-size: $font-m ;
                            color: $greyColor2 ;
                        }
                    }
                    textarea.error{border: 1.5px solid lighten(crimson,15%);}
                    button[type="submit"]{
                        width: auto ;
                        height: auto;
                        cursor: pointer;
                        color: $whiteColor2 ;
                        border-radius: $dist3 ;
                        margin-left: auto ; 
                        margin-right: auto ; 
                        background-color: $greenColor2 ;
                        padding: $dist1 $dist3 + .2em ;
                        font-size: $font-l ;
                        margin-top: $dist2 ;
                    }
                }
                form.reply.hide{
                    opacity: 0;
                    visibility: hidden ;
                    height: 0;
                }
                form.reply.show{
                    visibility: visible ;
                    opacity: 1;
                }
                form.reply.addTransition{transition: all .3s ease-in-out;}
            }
        }
    }
}