:export {
  primaryColor: #06ccf8;
  blueColor1: #009CFF;
  blueColor2: #003DBB;
  purpleColor1: #6956D8;
  purpleColor2: #9090C5;
  greenColor1: #6BFBCE;
  greenColor2: #1EC198;
  redColor1: #FF5198;
  redColor2: #e74a4a;
  orangeColor1: #FF846C;
  orangeColor2: #ff8f00;
  paleColor: #f4f3f7;
  whiteColor1: #f8f8f8;
  whiteColor2: #fbfbfb;
  greyColor: #b9b9c1;
  greyColor2: #86878e;
  darkColor: #2d2d31;
  darkBlue: #5d6174;
  shadowColor: rgba(70, 69, 85, 0.3);
  blackFilter: rgba(30, 30, 30, 0.8);
}

:export {
  dist1: 0.5em;
  dist2: 1em;
  dist3: 2em;
  dist4: 4em;
  mayVar: 40vw;
  font-s: 0.6em;
  font-m: 0.8em;
  font-l: 1em;
  font-xl: 1.2em;
  font-xxl: 2em;
  font-special: 1.6em;
  sectionsDist: 4em;
}

#comments {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  padding: 0 1em 1em 1em;
  margin-top: 2em;
}

#comments .add_comment,
#comments #user_comment,
#comments .comment {
  margin-top: 1em;
}

#comments .add_comment {
  width: auto;
  height: auto;
  padding: 0.7em 2.2em;
  font-size: 0.9em;
  border-radius: 2em;
  cursor: pointer;
  color: white;
  background-color: #06ccf8;
}

#comments #user_comment {
  width: 100%;
  height: auto;
  padding: 0.5em 0.5em 2em 0.5em;
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  border-bottom: 1px solid #86878e;
}

#comments #user_comment .infos,
#comments #user_comment textarea,
#comments #user_comment button[type="submit"] {
  margin-top: 1em;
}

#comments #user_comment .infos {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#comments #user_comment .infos input {
  width: 45%;
  height: 3em;
  border-radius: 2em;
  background-color: white;
  border: 1px solid #86878e;
  padding: 0.5em;
  color: #2d2d31;
  font-size: 0.85em;
  cursor: pointer;
}

#comments #user_comment .infos input::-webkit-input-placeholder {
  color: #86878e;
  font-size: 0.85em;
}

#comments #user_comment .infos input:-moz-placeholder {
  color: #86878e;
  font-size: 0.85em;
}

#comments #user_comment .infos input::-moz-placeholder {
  color: #86878e;
  font-size: 0.85em;
}

#comments #user_comment .infos input:-ms-input-placeholder {
  color: #86878e;
  font-size: 0.85em;
}

#comments #user_comment .infos input::-ms-input-placeholder {
  color: #86878e;
  font-size: 0.85em;
}

#comments #user_comment .infos input::placeholder {
  color: #86878e;
  font-size: 0.85em;
}

#comments #user_comment .infos input:nth-child(2) {
  margin-right: 10%;
}

#comments #user_comment .infos input.error {
  border: 1.5px solid #ef4e6e;
}

#comments #user_comment textarea {
  width: 100%;
  height: 15em;
  font-size: 0.8em;
  color: #2d2d31;
  padding: 0.5em;
  line-height: 2.2em;
  border: 1px solid #86878e;
}

#comments #user_comment textarea::-webkit-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments #user_comment textarea:-moz-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments #user_comment textarea::-moz-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments #user_comment textarea:-ms-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments #user_comment textarea::-ms-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments #user_comment textarea::placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments #user_comment textarea.error {
  border: 1.5px solid #ef4e6e;
}

#comments #user_comment button[type="submit"] {
  width: auto;
  height: auto;
  border-radius: 2em;
  padding: 0.7em 2.5em;
  color: #fbfbfb;
  font-size: 1em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  background-color: #1EC198;
}

#comments #user_comment.addTransition {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#comments #user_comment.hide {
  height: 0;
  visibility: hidden;
  opacity: 0;
  padding-bottom: 0;
}

#comments #user_comment.show {
  visibility: visible;
  opacity: 1;
  padding-bottom: 2em;
}

#comments .comment, #comments .user_reply {
  padding: 1em 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

#comments .comment .row, #comments .user_reply .row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#comments .comment .row .data, #comments .user_reply .row .data {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#comments .comment .row .data .name, #comments .comment .row .data .date, #comments .user_reply .row .data .name, #comments .user_reply .row .data .date {
  max-width: 12em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
  color: #86878e;
}

#comments .comment .row .data .date, #comments .user_reply .row .data .date {
  margin-top: 0.5em;
}

#comments .comment .row .content, #comments .user_reply .row .content {
  width: 100%;
  margin-right: 1em;
}

#comments .comment .reply, #comments .user_reply .reply {
  width: 100%;
}

#comments .comment .content, #comments .user_reply .content {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#comments .comment .content .text, #comments .user_reply .content .text {
  width: 100%;
  height: auto;
  color: #2d2d31;
  font-size: 0.8em;
  line-height: 2.2em;
}

#comments .comment .content .likes_reply, #comments .user_reply .content .likes_reply {
  width: auto;
  height: auto;
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#comments .comment .content .likes_reply .likes,
#comments .comment .content .likes_reply .reply, #comments .user_reply .content .likes_reply .likes,
#comments .user_reply .content .likes_reply .reply {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#comments .comment .content .likes_reply .likes i,
#comments .comment .content .likes_reply .reply i, #comments .user_reply .content .likes_reply .likes i,
#comments .user_reply .content .likes_reply .reply i {
  font-size: 1em;
  cursor: pointer;
  color: #86878e;
}

#comments .comment .content .likes_reply .likes i.fa-heart.red,
#comments .comment .content .likes_reply .reply i.fa-heart.red, #comments .user_reply .content .likes_reply .likes i.fa-heart.red,
#comments .user_reply .content .likes_reply .reply i.fa-heart.red {
  color: #ef4e6e;
}

#comments .comment .content .likes_reply .likes p,
#comments .comment .content .likes_reply .reply p, #comments .user_reply .content .likes_reply .likes p,
#comments .user_reply .content .likes_reply .reply p {
  font-size: 0.8em;
  color: #86878e;
  margin-right: 0.5em;
}

#comments .comment .content .likes_reply .reply, #comments .user_reply .content .likes_reply .reply {
  cursor: pointer;
  margin-right: 1em;
}

#comments .comment form.reply, #comments .user_reply form.reply {
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  padding: 0.5em;
}

#comments .comment form.reply textarea, #comments .user_reply form.reply textarea {
  width: 100%;
  height: 10em;
  padding: 0.5em;
  color: #2d2d31;
  font-size: 0.8em;
  border: 1px solid #86878e;
}

#comments .comment form.reply textarea::-webkit-input-placeholder, #comments .user_reply form.reply textarea::-webkit-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments .comment form.reply textarea:-moz-placeholder, #comments .user_reply form.reply textarea:-moz-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments .comment form.reply textarea::-moz-placeholder, #comments .user_reply form.reply textarea::-moz-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments .comment form.reply textarea:-ms-input-placeholder, #comments .user_reply form.reply textarea:-ms-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments .comment form.reply textarea::-ms-input-placeholder, #comments .user_reply form.reply textarea::-ms-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments .comment form.reply textarea::placeholder, #comments .user_reply form.reply textarea::placeholder {
  font-size: 0.8em;
  color: #86878e;
}

#comments .comment form.reply textarea.error, #comments .user_reply form.reply textarea.error {
  border: 1.5px solid #ef4e6e;
}

#comments .comment form.reply button[type="submit"], #comments .user_reply form.reply button[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  color: #fbfbfb;
  border-radius: 2em;
  margin-left: auto;
  margin-right: auto;
  background-color: #1EC198;
  padding: 0.5em 2.2em;
  font-size: 1em;
  margin-top: 1em;
}

#comments .comment form.reply.hide, #comments .user_reply form.reply.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

#comments .comment form.reply.show, #comments .user_reply form.reply.show {
  visibility: visible;
  opacity: 1;
}

#comments .comment form.reply.addTransition, #comments .user_reply form.reply.addTransition {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#comments .comment {
  border-bottom: 1px solid #c8c8cc;
}

#comments .comment:last-child {
  border-bottom: none;
}

#comments .user_reply {
  padding-right: 4em;
}

#comments .user_reply:last-child {
  border-top: none;
  border-bottom: none;
}
/*# sourceMappingURL=comment.css.map */