@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../variables.scss' ;
#request{
    width: 80vw ;
    height: auto;
    margin: ($sectionsDist + 2em) auto ;
    display: flex ;
    @include flex(column,flex-start,center,nowrap,"") ;
    box-shadow: 0 0 .5em .1em $shadowColor ;
    padding: $dist2 ;
    overflow: hidden;
    #timeline{       
        margin-top: $dist3 ;
        width: 100% ;
        height: 4em;
        display: flex ;
        @include flex(row,space-between,center,nowrap,"") ;
        position: relative ;
        &::before{
            content: '' ;
            width: 100% ;
            height: .4em ;
            background-color: lighten($greyColor2,30%) ;
            @include center-y ;
            right: 0 ;
        }
        .line{
            width: 0% ;
            height: .4em;
            @include center-y ;
            right: 0 ;
            background-color: $greenColor2 ;
        }
        .circle{
            width: 4em ;
            height: 4em;
            border-radius: 50% ;
            border: .2em solid lighten($greyColor2,30%) ;
            background-color: white ;
            position: relative ;
            z-index: 2;
            transition: all .3s ease-in-out ;
            i{
                font-size: $font-xxl + .2em;
                @include center-xy ;
                color: white ;
                opacity: 0;
                transition: all .3s ease-in-out ;
            }
            p{
                width: 100% ;
                height: auto;
                text-align: center ;
                font-size: $font-m + .1em ;
                color: lighten($greyColor2,10%) ;
                position: absolute ;
                right: 0;
                top: -60% ;
                transition: all .3s ease-in-out ;
            }
        }
        .circle.active{
            background-color: $greenColor2 ;
            border: .2em solid transparent ;
            i{
                opacity: 1;
            }
            p {
                color: $greenColor2 ;
            }

        }
        .circle.curr{
            border: .2em solid $greenColor2 ;
        }
    }
    form#order{
        width: 100% ;
        height: auto;
        margin-top: $dist3 ;
        display: flex ;
        @include flex(row,flex-start,flex-start,nowrap,"") ;
        position: relative ;
        right: 0% ;
        transition: all .6s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
        .slide{
            flex-shrink: 0 ;
            width: 100% ;
            height: auto ;
            display: flex ;
            @include flex(column,flex-start,flex-start,nowrap,"");
            position: relative ;  
            .btn-wrapper{
                width: auto ;
                height: auto;
                display: flex ;
                @include flex(row,space-around,center,nowrap,"");
                margin-top: $dist3 ;
                margin-left: auto ;
                margin-right: auto ;
                button{
                    width: auto ;
                    height: auto;
                    color: $whiteColor2 ;     
                    border-radius: $dist3 ;
                    cursor: pointer;
                    padding: $dist1 + .2em $dist3 + .5em ;
                    font-size: $font-l ;
                    &:nth-child(2){margin-right: 5em ;}
                }
                button.prevSlide,button.prevTab{
                    background-color: $redColor2 ;
                    z-index: 5 ;
                }
                button.nextSlide,button.nextTab{
                    background-color: $greenColor2 ;
                }
            }
            
            h4{
                width: 100% ;
                font-size: $font-l ;
                color: $darkColor ;
                font-weight: 700 ;
                text-align: center ;
            }
            .labels{
                width: 100% ;
                max-height: 25em ;
                overflow: auto;
                display: flex ;
                margin-top: $dist2 ;
                @include flex(row,flex-start,flex-start,wrap,flex-start);
                label{
                    width: calc((80vw - (5 * 2.6em))/ 5) ;
                    height: calc((80vw - (5 * 2.6em))/ 5) ;
                    margin: 1em ;
                    background-position: center center ;
                    background-repeat: no-repeat ;
                    background-size: 100% 100% ;
                    position: relative ;
                    cursor: pointer;
                    transition: all .4s ease-in-out ;
                    border-radius: $dist2 ;
                    &:hover{
                        background-size: 125% 125% ;
                    }
                    &::before{
                        content: '' ;
                        @include fullSize-abs ;
                        background-color: $blackFilter ;
                        border-radius: $dist2 ;
                        transition: all .4s ease-in-out ;
                    }
                    input[type="checkbox"]{
                        width: 0 ;
                        height: 0;
                        display: none ;
                    }
                    input[type="radio"]{
                        width: 0 ;
                        height: 0;
                        display: none ;
                    }
                    p{
                        text-align: center;
                        width: 100% ;
                        font-size: $font-l ;
                        font-weight: 700 ;
                        color: $whiteColor2 ;
                        @include center-xy ;
                        @include ellipse ;
                    }
                }
                label.checked{
                    border-radius: 0 ;
                    border: .35em solid $orangeColor2 ;
                    &::before{
                        border-radius: 0 ;
                    }
                }
            }    
            > button {
                width: auto ;
                height: auto;
                color: $whiteColor2 ;
                background-color: $greenColor2 ;
                padding: $dist1 $dist3  ;
                cursor: pointer;
                border-radius: $dist3 ;
                font-size: $font-l ;
                margin: $dist3 auto 0 auto ;         
            }    
            input[type='number']::-webkit-outer-spin-button,
            input[type='number']::-webkit-inner-spin-button {
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                -ms-appearance: none;
                appearance: none;
            }
            input[type=number] {
                -moz-appearance:textfield;
            }     
        }
        .slide#type{
            .labels{
                justify-content: space-around ;
                label[for="mobile"]{background-image: url('../../assets/imgs/mobile.jpg');}
                label[for="tablet"]{background-image: url('../../assets/imgs/tablet.jpg');}
            }
            ul.text{
                width: auto ;
                height: auto;
                list-style: none;
                display: flex ;
                margin-top: $dist2 ;
                @include flex(column,flex-start,flex-start,nowrap,"") ;
                li{
                    width: auto ;
                    height: auto;
                    font-size: $font-m ;
                    color: $darkColor ;
                    line-height: $dist3 ;
                    margin-top: $dist2 ;
                    i{
                        font-size: $font-m ;
                        color: lighten($darkColor,15%);
                        transform: translate(50%,0%) ;
                    }
                }
            }
        }
        .slide#brand{
            .labels{
                label[for="apple"]{background-image: url('../../assets/imgs/iphone.jpg');}
                label[for="samsung"]{background-image: url('../../assets/imgs/samsung.jpg');}
                label[for="huawei"]{background-image: url('../../assets/imgs/huawei.jpg');}
                label[for="sony"]{background-image: url('../../assets/imgs/sony.jpg');}
                label[for="lg"]{background-image: url('../../assets/imgs/lg.jpg');}
            }
        }
        .slide#model{
            .labels{       
                label{
                    background-image: url('../../assets/imgs/mobile.jpg') ;
                    p{font-size: $font-m ;}
                }
            }   
        }
        .slide#color{
            .labels{       
                label{
                    background-image: url('../../assets/imgs/mobile.jpg') ;
                    p{font-size: $font-l + .2em ;}
                }
            }   
        }
        .slide#problem{
            .labels{       
                label{
                    background-image: url('../../assets/imgs/mobile.jpg') ;
                    i{
                        width: 3em ;
                        height: 3em;
                        border-radius: 50% ;
                        bottom: $dist1 ;
                        @include center-x ;     
                        background-color: $greenColor2 ;
                        color: $whiteColor2 ;
                        opacity: 0;
                        visibility: hidden ;
                        transition: all .3s ease-in-out ;
                        &::before{
                            font-size: $font-xl + .3em ;
                            @include center-xy ;
                        }
                    }
                    i.show{
                        visibility: visible ;
                        opacity: 1;
                    }
                }
            }   
            p.error{
                font-size: $font-m ;
                color: lighten(crimson,15%) ;
                margin: $dist1 auto 0 auto ;
                visibility: hidden ;
                opacity: 0;
                transition: all .3s ease-in-out ;
            }
            p.error.show{
                visibility: visible;
                opacity: 1;
            }
        }
        .slide#infos{
           .wrapper{
               width: 100% ;
               height: 10em;
               position: relative;
               margin-top: $dist2 ;
               .info{
                   @include fullSize-abs ;
                   visibility: hidden;
                   opacity: 0;
                   transition: all .4s ease-in-out ;
                   display: flex ;
                   > * {
                       margin-top: $dist2 ;
                   }
                   input{
                       height: 3em;
                       border: 1px solid $greyColor2 ;
                       background-color: white ;
                       font-size: $font-m ;
                       color: $darkColor ;
                       padding: $dist1 ;
                       border-radius: $dist3 ;
                       transition: all .3s ease-in-out ;
                       &::placeholder{
                           font-size: $font-m ;
                           color: $greyColor2 ;
                       }
                   }
                   input.error{
                       border: 1.5px solid lighten(crimson,15%) ;
                   }
                   > button{
                       width: auto ;
                       height: auto;
                       color: $whiteColor2 ;
                       background-color: $greenColor2 ;
                       font-size: $font-m ;
                       padding: $dist1 $dist3 ;
                       border-radius: $dist3 ;
                       cursor: pointer;
                   }
               }
               .info.show{
                   visibility: visible ;
                   opacity: 1;
               }
               .info.mobile{
                   @include flex(column,flex-start,center,nowrap,"") ;
                   input{
                       width: 20em ;
                   }
               }
               .info.code{
                   @include flex(column,flex-start,center,nowrap,"") ;
                   .btn-wrapper{
                        margin-top: 5em ;
                   }
                   .input-wrapper{
                       width: 20em ;
                       height: 2.5em;
                       position: relative;
                       input{
                           width: 100% ;
                           height: 100%;
                       }
                       .timer_resend{
                           width: 80% ;
                           height: auto;
                           @include center-x ;
                           top: 120% ;
                           display: flex ;
                           @include flex(row,space-between,center,nowrap,"");
                           .timer,.resend{
                               width: auto ;
                               height: auto;
                               font-size: $font-m - .1em;
                               color: $greyColor2 ;
                               display: flex ;
                               @include flex(row,flex-start,center,nowrap,"");
                           }
                           .resend{
                               cursor: pointer;
                               background-color: transparent ;
                               border: none ;
                           }
                       }
                   }
                   > button{
                       margin-top: $dist4 ;
                   }
                   p.error{
                       visibility: hidden ;
                       opacity: 0;
                       transition: all .3s ease-in-out ;
                       width: auto ;
                       font-size: $font-m ;
                       height: auto;
                       text-align: center ;
                       padding: .2em .5em ;
                       color: lighten(crimson,15%) ;
                       margin-top: .1em ;
                   }
                   p.error.show{
                       visibility: visible ;
                       opacity: 1;
                   }
               }
               .info.city{
                   @include flex(column,flex-start,center,nowrap,"") ;
                   .inputs{
                      width: 60% ;
                      height: auto;
                      display: flex ;
                      @include flex(row,space-around,center,wrap,"flex-start") ;
                      .input-wrapper{
                        width: 40% ;
                        height: 2.5em;
                        position: relative ;
                        &:nth-child(2){
                            margin-right: 10% ;
                        }
                        input{
                            width: 100% ;
                            height: 100%;
                            border-radius: 0 ;
                            cursor: pointer;
                        }
                        i{
                            @include center-y ;
                            left: .5em;
                            color: $darkColor ;
                            cursor: pointer;
                            font-size: $font-l ;
                        }
                        ul{
                            visibility: hidden ;
                            opacity: 0;
                            transition: all .3s ease-in-out ;
                            width: 100% ;
                            max-height: 8em;
                            position: absolute ;
                            top: 100% ;
                            right: 0 ;
                            display: flex ;
                            overflow: auto;
                            @include flex(column,flex-start,flex-start,nowrap,"") ;
                            z-index: 6;
                            box-shadow: 0 .1em .3em .05em $shadowColor ;
                            li{
                                width: 100% ;
                                height: 2.5em ;
                                color: $darkColor ;
                                font-size: $font-m ;
                                line-height: 2.5em ;
                                transition: all .3s ease-in-out ;
                                background-color: $whiteColor2 ;
                                padding-right: $dist1 ;
                                cursor: pointer;
                                &:hover{
                                    background-color: darken($whiteColor2,15%) ;
                                }
                            }
                        }
                        ul.show{
                            visibility: visible ;
                            opacity: 1;
                        }
                      }
                   } 
                   p.error{
                       visibility: hidden ;
                       opacity: 0;
                       transition: all .3s ease-in-out ;
                       font-size: $font-m ;
                       color: lighten(crimson,15%) ;
                   }            
                   p.error.show{
                       visibility: visible ;
                       opacity: 1;
                   }  
               }
               .info.name{
                   @include flex(column,space-around,center,nowrap,"") ;
                   input[type="text"]{
                       width: 25em ;
                   }
                   .input-wrapper{
                       min-width: 20em ;
                       height: auto;
                       display: flex ;
                       @include flex(row,space-between,center,nowrap,"");
                       margin-top: $dist1 ;
                       label{
                           width: auto ;
                           height: auto;
                           display: flex ;
                           cursor: pointer;
                           @include flex(row,flex-start,center,nowrap,"");
                           input[type="checkbox"]{
                               width: 0 ;
                               height: 0;
                               display: none ;
                               &:checked{
                                   ~span.rect{
                                       border-top: 1.2px solid transparent ;
                                       border-right: 1.2px solid transparent ;
                                       border-left: 1.6px solid $greenColor2 ;
                                       border-bottom: 1.6px solid $greenColor2 ;
                                       border-radius: 0 ;
                                       width: 1.2em ;
                                       height: .5em;
                                       transform: translateY(-60%) rotate(-50deg)  ;
                                   }
                               }
                           }
                           span.rect{
                               display: inline-block ;
                               width: 1em ;
                               height: 1em;
                               border-radius: .1em ;
                               background-color: transparent ;
                               border: 1.2px solid $darkColor ;
                               transition: all .3s ease-in-out;
                           }
                           p{
                               font-size: $font-m ;
                               color: $darkColor ;
                               transform: translate(-5%,5%) ;
                           }
                       }
                       input[type="text"]{
                           width: 40% ;
                           height: 3em ;
                           opacity: 0;
                           visibility: hidden ;
                           transition: all .3s ease-in-out
                       }
                       input[type="text"].show{
                           opacity: 1;
                           visibility: visible ;
                       }
                    }
               }
           }
        }
        .slide#analyse{      
            height: auto;     
            .infos{      
                width: 60% ;
                height: auto;
                display: flex ;
                margin-left: auto ;
                margin-right: auto ;
                margin-top: $dist1 ;
                @include flex(row,space-around,flex-start,wrap,flex-start) ;
                ul.info{     
                    width: auto ;
                    height: auto;
                    display: flex ;
                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                    list-style: none ;
                    h4,li{margin-top: $dist1 ;}
                    h4{
                        width: auto ;
                        font-size: $font-m + .1em ;
                        color: $greyColor2 ;
                        font-weight: 700 ;
                    }
                    li{
                        width: auto ;
                        height: auto ;
                        display: flex ;
                        display: flex(row,flex-start,center,nowrap,"") ;
                        margin-right: $dist1 ;
                        i{
                            font-size: .7em ;
                            color: $primaryColor ;
                            transform: translate(80%,25%) ;
                        }
                        p{
                            font-size: $font-m ;
                            &:nth-child(2){
                                color: $primaryColor;
                                font-weight: 700;
                            }
                            &:nth-child(3){
                                color: $darkColor;
                                transform: translateX(-.3em) ;
                            }
                        }
                    }
                    
                }
            }  
            > button{
                margin-top: $dist2 ;
            }
            p.rules{
                width: 100% ;
                text-align: center ;
                font-size: $font-m ;
                color: $darkColor ;
                margin-top: $dist1;
                a{
                    cursor: pointer;
                    color: $blueColor1 ;
                    font-weight: 700 ;
                }
            }
        }
        .slide#confirm{
            p{margin: $dist2 auto 0 auto;}
            p.tracking{
                width: auto ;
                height: auto;
                font-size: $font-l ;
                color: $whiteColor2 ;
                background-color: $greenColor2 ;
                padding: $dist2 $dist3 * 1.6 ;
                text-align: center ;
                border-radius: $dist1 ;
            }
            p.price{
                font-size: $font-l ;
                color: $darkColor ;
            }
        }
    }
}