@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../variables.scss' ;
nav{
    width: 90% ;
    height: auto;
    position: fixed ;
    left: 0;
    top: 0; 
    z-index: 7;
    background-color: transparent ;
    box-shadow: 0 .1em .3em .05em transparent ;
    transition: all .3s ease-in-out ;
    > ul{
        width: 100% ;
        height: 100%;
        position: relative ;
        display: flex ;
        @include flex(row,flex-start,flex-start,nowrap,"");
        padding: .2em ;
        list-style: none;
        li{
            width: auto ;
            height: 3em;
            line-height: 3em ;
            margin: 0 $dist2 ;
            a{
                width: auto ;
                height: 100%;
                color: $darkColor ;
                font-size: 1em ;
            }
        }
        li.special{
            a {
                padding: ($dist1) ($dist3 - .5em) ;
                color: white ;
                background: linear-gradient(to right, #ff416c, #ff4b2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                border-radius: $dist3 ;   
            }   
        }
        li.dropdown{
            position: relative ;
            cursor: pointer;
            &:hover{
                ul{
                    visibility: visible;
                    opacity: 1;
                    height: auto;
                }
            }
            p{
                color: $darkColor;
                font-size: 1em ;
                i{
                    transform: translate(-50%,10%) ;
                }
            }
            ul{
                width: 12em ;
                height: auto;
                visibility: hidden ;
                opacity: 0;
                transition: all .2s ease-in-out ;
                @include center-x ;
                top: 100% ;
                display: flex;
                @include flex(column,flex-start,flex-start,nowrap,"") ;  
                box-shadow: 0 .1em .3em .05em $shadowColor ;
                li{
                    width: 100% ;
                    height: 3em;
                    margin: 0 ;
                    background-color: $paleColor ;
                    a{
                        display: inline-block ;
                        width: 100% ;
                        height: 100%;
                        padding: 0 $dist1 ;
                        font-size: .8em ;
                        color: $darkColor ;
                        background-color: $paleColor ;
                        transition: all .3s ease-in-out ;
                        &:hover{
                            background-color: $greyColor ;
                        }
                    }
                }
            }
        }
        li.logo{
            @include center-y ;
            left: $dist3;
            a{
                width: auto ;
                height: 100%;
                img{
                    width: 8em ;
                    height: 85%;
                }
            }        
        }
        li.mobile{
            display: none ;
        }
    }
}
nav.fix-style{
    width: 100% ;
    box-shadow: 0 .1em .3em .05em $shadowColor ;
    background-color: $whiteColor2 ;
}
@media screen and (max-width:1000px){
    nav{
        font-size: 16px ;
    }
}
@media screen and (max-width:750px){
    nav{
        font-size: 14px ;
    }
}
@media screen and (max-width:680px){
    nav{
        font-size: 16px ;
        > ul{    
            li{
                display: none ;
            }    
            li.mobile{
                display: block ;
                position: relative ;
                padding: 0 ;
                height: auto;
                line-height: 1em ;
                &:hover{
                    .mobile_nav{
                        visibility: visible ;
                        opacity: 1;
                    }
                }
                .fa-bars{
                    font-size: $font-special ;
                    cursor: pointer;
                    color: $darkColor ;
                    padding: 0 ;
                }
                .mobile_nav{
                    opacity: 0;
                    visibility: hidden ;
                    transition: all .3s linear ;
                    min-width: 12em ;
                    max-height: 80vh;
                    position: absolute ;
                    right: 0 ;
                    top: 100% ;
                    padding: 0 ;
                    display: flex ;
                    @include flex(column,flex-start,center,nowrap,"") ;
                    background-color: darken($whiteColor2,8%) ;
                    box-shadow: 0 0 .5em .1em $shadowColor ;
                    li{
                        display: block ;
                        width: 100% ;
                        height: 3em;
                        line-height: 3em ;
                        cursor: pointer;
                        color: $darkColor ;
                        background-color: inherit ;
                        padding: 0 ;
                        transition: all .2s linear; 
                        text-align: center ;
                        &:not(.logo_mobile):not(.special_mobile){
                            &:hover{
                                background-color: darken($whiteColor2,16%) ;
                            }
                        }               
                        a{
                            display: inline-block ;
                            width: 100% ;
                            height: 100%;
                            color: $darkColor ;
                            font-size: $font-l ;
                        }
                    }
                    li.logo_mobile{
                        width: 90% ;
                        height: 4em;
                        position: relative ;
                        margin: $dist2 ;
                        a {
                            img {
                                width: 10em ;
                                height: 100%;
                            }
                        }
                    }
                    li.special_mobile{
                        margin: $dist2 ;
                        width: 90% ;
                        a{
                            border-radius: $dist3 ;
                            color: $whiteColor2 ;
                            // padding: $dist1 $dist3  ;
                            width: 100% ;
                            height: 3em;
                            display: inline-block ;
                            font-size: $font-l ;
                            line-height: 3em ;
                            background: linear-gradient(to right, #ff416c, #ff4b2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        }
                    }
                    li.dropdownTrigger{
                        position: relative ;
                        &:hover{
                            .dropdownMenu{
                                opacity: 1;
                                visibility: visible ;
                            }                     
                        }
                        i{
                            font-size: $font-l ;
                            color: $darkColor ;
                            transform: translate(-$dist1,15%) ;
                        }
                        .dropdownMenu{
                            opacity: 0;
                            visibility: hidden ;
                            transition: all .3s linear ;
                            @include center-y ;
                            right: 100% ;
                            min-width: 10em ;
                            height: auto;
                            display: flex ;
                            @include flex(column,flex-start,flex-start,nowrap,"") ;
                            background-color: darken($whiteColor2,5%) ;
                            padding: 0 ;
                            li{
                                width: 100% ;
                                height: 2.5em;
                                line-height: 2.5em ;
                                padding: 0 $dist2 ;
                                margin: 0 ;
                                text-align: right ;
                                padding: 0 $dist1 ;
                                a{
                                    width: 100% ;
                                    height: 100%;
                                    font-size: $font-m ;
                                    color: $darkColor ;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:600px){
    nav{
        width: 100% ;
    }
}
@media screen and (max-width:450px){
    nav{
        font-size: 12px ;
        
    }
}
@media screen and (max-width:330px){
    nav{
        width: 100% ;
        li.mobile{
            margin-right: 0 ;

        }
    }
}
@media screen and (max-width:300px){
    nav{
        font-size: 9px ;
    }
}
