@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
#tabs{
    width: 100% ;
    height: auto;
    margin: $sectionsDist auto ;
    background-color: darken($paleColor,1%) ;
    display: flex ;
    @include flex(column,flex-start,center,nowrap,"") ;
    padding-bottom: $dist2 ;
    ul,.tabs_contentو,h4{margin: $dist2 0 ;}
    h4{
        width: 100% ;
        text-align: center ;
        font-size: $font-special - .2em;
        color: $darkColor ;
        font-weight: 700 ;
    }
    ul{
        width: 90% ;
        height: auto;
        display: flex ;
        @include flex(row,space-around,center,nowrap,flex-start) ;
        position: relative ;
        li{
            flex-shrink: 0 ;
            width: 20% ;
            height: $dist4 + .5em ;
            cursor: pointer;
            display: flex ;
            @include flex(column,space-around,center,nowrap,"") ;
            border-right: 1.2px solid darken($greyColor,20%) ;
            i{
                font-size: $font-xxl - .3em ;
                color: darken($greyColor,20%) ;
                transition: all .3s ease-in-out ;
            }
            h6{
                font-size: $font-m ;
                color: darken($greyColor,20%) ;
                transition: all .3s ease-in-out
            }
            &:hover{
                i,h6{
                    color: $primaryColor ;
                    transform: scale(1.2) ;
                }
            }
            &:nth-child(5){border-left: 1.2px solid darken($greyColor,20%) ;}
            // &:first-child{
            //     border-right: 1.2px solid darken($greyColor,20%) ;
            //     border-left: 1.2px solid darken($greyColor,20%) ;
            // }
        }
        li.active{
            i,h6{
                color: $primaryColor ;
                transform: scale(1.2) ;
            }
        }
        span.line{
            display: inline-block ;
            width: calc(20% + 1.2px + .2px) ;
            // full width of each li and also border-right and add little more value
            height: .2em;
            position: absolute ;
            top: 100% ;
            right: 0% ;
            background-color: $primaryColor ;
            transition: all .3s ease-in-out ;
        }
    }
    .tabs_content{
        width: 90% ;
        height: 28em;
        position: relative ;
        > div {
            @include fullSize-abs;
            visibility: hidden ;
            opacity: 0;
            transition: all .6s ease-in-out ;
            // position: relative;
            .show-all{
                font-size: $font-l ;
                color: $greyColor2 ;
                @include center-x ;
                top: 95% ;
                i{
                    font-size: $font-l ;
                    transform: translate(-30%,10%) ;
                }
            }
        }
        > div.active{
            opacity: 1;
            visibility: visible ;
        }
    }
}