@import '../../colors.scss' ;
#copyright{
    width: 100% ;
    padding: .5em ;
    color: rgb(60,60,60) ;
    font-size: 1em ;
    text-align: center ;
    background-color: rgb(245, 245, 245) ;
    position: relative ;
    z-index: 2 ;
}
#copyright i{
    transform: translateY(20%) ;
}
#copyright a{
    text-decoration: none ;
    color: $darkColor ;
}
@media screen and (max-width: 840px){
    #copyright{font-size: 16px ;}
}
@media screen and (max-width: 330px){
    #copyright{font-size: 12px ;}
}