@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../variables.scss' ;
#faq{
    width: 90vw ;
    height: auto;
    margin: $dist4 auto ;
    display: flex ;
    @include flex(column,flex-start,flex-start,nowrap,"") ;
    h4,.questions{margin: $dist1 0 ;}
    h4{
        width: 100% ;
        text-align: center ;
        font-size: $font-xl + .3em ;
        font-weight: 700 ;
        color: $darkColor ;
    }
    .questions{
        width: 100% ;
        height: auto;
        display: flex ;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        .question{
            width: 100% ;
            height: auto;
            display: flex ;
            @include flex(column,flex-start,flex-start,nowrap,"");
            &:first-child{
                .title{
                    border-top: 1.1px solid lighten($greyColor,10%) ;
                }
            }
            .title{
                width: 100% ;
                height: auto;
                padding: $dist1 0 ;
                position: relative ;
                border-bottom: 1.1px solid lighten($greyColor,10%) ;
                cursor: pointer;
                h6{
                    font-size: $font-m + .1em ;
                    color: $darkColor ;
                    font-weight: 700 ;
                    width: 90% ;
                    height: auto;
                    line-height: $dist3 + .5em ;
                }
                i{
                    font-size: $font-l ;
                    color: $darkColor ;
                    @include center-y ;
                    left: $dist1 ;
                }
            }
            .answer{
                margin: 0 0 ;
                width: 100% ;
                line-height: $dist3 + .5em ;
                font-size: $font-m ;
                color: $dark-blue ;
                padding: 0 0 ;
                height: 0;
                visibility: hidden ;
                opacity: 0;
                transition: all .4s ease-in-out ;
            }
            .answer.show{
                margin: $dist3 0 ;
                visibility: visible ;
                opacity: 1;          
            }
        }
    }
}