@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../variables.scss' ;
nav{
    width: (50vw + $mayVar) ;
    height: auto ;
    position: fixed ;
    top: 0 ;
    left: 0;
    z-index: 5;
    > ul {
        width: 100% ;
        height: 100%;
        position: relative ;
        display: flex ;
        @include flex(row,flex-start,flex-start,nowrap,"") ;
        padding: $dist1 ;
        list-style: none ;
        border: 1px solid blue ;
        li{
            width: auto ;
            height: 3em;
            margin: 0 $dist3 ;
            line-height: 3em ;
            a{
                width: 100% ;
                height: 100%;
                cursor: pointer;
                font-size: 1em ;
                color: $darkColor ;

            }
        }
        li.special{
            a{
                padding: $dist1 ($dist2 + 1em) ;
                border-radius: 2em ;
                color: white ;
                background-image: linear-gradient(to right, #ff8347, #ff794e, #ff6e56, #ff645f, #ff5b68);
            }            
        }
        li.dropdown{

        }
        li.logo{
            @include center-y ;
            left: $dist3 ;
            img{
                width: 10em ;
                height: 100%;
            }
        }
    }
}