@import '../../colors.scss' ;
@import '../../variables.scss' ;
@import '../../mixins.scss' ;
#trust{
    width: 100% ;
    height: auto;
    margin: $sectionsDist auto ;
    overflow: hidden;
    display: flex ;
    @include flex(column,flex-start,center,nowrap,"") ;
    h4,#sponsers{
        margin: $dist1 auto ;
    }
    h4{
        font-size: $font-xl ;
        color: $darkColor ;
        font-weight: 700 ;
    }
    #sponsers{
        width: auto ;
        height: auto;
        display: flex ;
        @include flex(row,flex-start,center,nowrap,"") ; 
        position: relative;
        .sponser{
            width: 12em ;
            height: 10em;
            background-color: white ;
            box-shadow: 0 0 .2em .05em $shadowColor ;
            margin: 0 $dist2 ;
            a{
                width: 100% ;
                height: 100%;
                display: flex ;
                position: relative ;
                @include flex(column,space-between,center,nowrap,"") ;
                img{
                    width: 100% ;
                    height: 65% ;
                }
                h5{
                    width: 100% ;
                    text-align: center ;
                    @include ellipse ;
                    font-size: $font-l ;
                    color: $greyColor ;
                    @include center-x ;
                    bottom: 1em ;
                }
            }
            
        }
    }
}