section {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin: 4em auto 0 auto;
  border: 2px solid #bbbbbf;
  -webkit-box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
  background-color: white;
  padding: 1em;
}

section .desc {
  width: 45%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

section .desc h4 {
  width: 100%;
  height: auto;
  line-height: 2em;
  font-size: 1em;
  font-weight: 700;
  color: #2d2d31;
}

section .desc p {
  width: 100%;
  height: auto;
  line-height: 2em;
  font-size: 0.8em;
  color: #86878e;
  margin-top: 0.5em;
}

section .desc .specialty {
  width: 100%;
  height: auto;
  margin-top: 0.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

section .desc .specialty li {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  padding-bottom: 1em;
}

section .desc .specialty li:not(:last-child) {
  border-bottom: 1px solid #e2e3e4;
}

section .desc .specialty li .title {
  font-size: 0.8em;
  font-weight: 700;
  color: #2d2d31;
  cursor: pointer;
}

section .desc .specialty li .title i {
  -webkit-transform: translate(50%, 15%);
     -moz-transform: translate(50%, 15%);
      -ms-transform: translate(50%, 15%);
          transform: translate(50%, 15%);
}

section .desc .specialty li .explain {
  width: 100%;
  line-height: 2em;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #86878e;
  font-size: 0.7em;
}

section .desc .specialty li .explain.show {
  opacity: 1;
  visibility: visible;
}

section img {
  width: 45%;
  height: 20em;
}

section#summery {
  margin-top: 6em;
}

section#specialty {
  margin-top: 1em;
}

form#rep_request {
  width: 80%;
  height: auto;
  border: 2px solid #bbbbbf;
  -webkit-box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin: 2em auto 4em auto;
  padding: 0.5em 0 1em 0;
}

form#rep_request h4, form#rep_request p.desc, form#rep_request .inputs, form#rep_request button[type="submit"] {
  margin: 0.5em auto;
}

form#rep_request h4 {
  font-size: 1em;
  color: #2d2d31;
  font-weight: 700;
}

form#rep_request p.desc {
  width: 75%;
  font-size: 0.8em;
  color: #86878e;
  text-align: center;
}

form#rep_request button[type="submit"] {
  width: auto;
  height: auto;
  padding: 0.5em 2.3em;
  color: #fbfbfb;
  background-color: #06ccf8;
  font-size: 1em;
  cursor: pointer;
  border-radius: 2em;
}

form#rep_request .inputs {
  width: 75%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  padding: 0 1em;
}

form#rep_request .inputs input#name, form#rep_request .inputs input#tel, form#rep_request .inputs .input-wrapper, form#rep_request .inputs input#address {
  width: 40%;
  height: 3em;
  margin: 1em 5%;
}

form#rep_request .inputs .input-wrapper {
  width: 40%;
  height: 2.5em;
  margin: 1em 5%;
}

form#rep_request .inputs input#address {
  width: 40%;
  height: 3em;
  margin: 1em 5%;
}

form#rep_request .inputs input {
  font-size: 0.8em;
  color: #2d2d31;
  padding: 0.5em;
  border: 1px solid #86878e;
  -webkit-transition: border-width 0s ease-in-out , border-color .3s ease-in-out;
  -moz-transition: border-width 0s ease-in-out , border-color .3s ease-in-out;
  transition: border-width 0s ease-in-out , border-color .3s ease-in-out;
}

form#rep_request .inputs input::-webkit-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

form#rep_request .inputs input:-moz-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

form#rep_request .inputs input::-moz-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

form#rep_request .inputs input:-ms-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

form#rep_request .inputs input::-ms-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

form#rep_request .inputs input::placeholder {
  font-size: 0.8em;
  color: #86878e;
}

form#rep_request .inputs input:focus {
  border: 2px solid #06ccf8;
}

form#rep_request .inputs input.error {
  border: 2px solid #e74a4a;
}

form#rep_request .inputs input#name, form#rep_request .inputs input#tel, form#rep_request .inputs input#address {
  border-radius: 2em;
}

form#rep_request .inputs .input-wrapper {
  position: relative;
}

form#rep_request .inputs .input-wrapper input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 2em;
}

form#rep_request .inputs .input-wrapper i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  font-size: 1em;
  color: #2d2d31;
  cursor: pointer;
}

form#rep_request .inputs .input-wrapper ul {
  border-radius: 2em;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 3;
}

form#rep_request .inputs .input-wrapper ul li {
  width: 100%;
  height: 2.5em;
  color: #2d2d31;
  cursor: pointer;
  background-color: #fbfbfb;
  font-size: 0.8em;
  line-height: 2.5em;
  padding: 0 1em;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

form#rep_request .inputs .input-wrapper ul li:first-child {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

form#rep_request .inputs .input-wrapper ul li:last-child {
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

form#rep_request .inputs .input-wrapper ul li:hover {
  background-color: #e2e2e2;
}

form#rep_request .inputs .input-wrapper ul.show {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=rep.css.map */