$primaryColor: #4a4982 ;
$blueColor1: #009CFF ;
$blueColor2 : #003DBB ;
$purpleColor1: #6956D8 ; 
$purpleColor2: #9090C5 ;
$greenColor1: #6BFBCE ;
$greenColor2: #1EC198 ;
$redColor1 : #FF5198 ;
$redColor2: #e74a4a ;
$orangeColor1 : #FF846C ;
$orangeColor2: #ff8f00 ; 
$paleColor: rgb(244, 243, 247) ;
$whiteColor1: rgb(248,248,248) ;
$whiteColor2: rgb(251,251,251) ;
$greyColor: rgb(185, 185, 193) ; 
$greyColor2 : rgb(134, 135, 142) ;
$darkColor: #2d2d31 ; 
$dark-blue: #5d6174 ;
$shadowColor: rgba(70,69,85,.3) ;
$shadowColor2: rgba(0,0,0,.5) ;
$blackFilter: rgba(30,30,30,.8) ;
$blackFilter2: rgba(30,30,30,.6) ;
$blackFilter3: rgba(30,30,30,.7) ;

:export{
    primaryColor:$primaryColor ;
    blueColor1:$blueColor1 ;
    blueColor2:$blueColor2 ;
    purpleColor1:$purpleColor1 ;
    purpleColor2:$purpleColor2 ;
    greenColor1:$greenColor1 ;
    greenColor2:$greenColor2 ;
    redColor1:$redColor1 ;
    redColor2:$redColor2 ;
    orangeColor1:$orangeColor1 ;
    orangeColor2:$orangeColor2 ;
    paleColor:$paleColor ;
    whiteColor1:$whiteColor1 ;
    whiteColor2:$whiteColor2 ;
    greyColor:$greyColor ; 
    greyColor2:$greyColor2 ;
    darkColor:$darkColor ; 
    darkBlue:$dark-blue ;
    shadowColor:$shadowColor ;
    blackFilter:$blackFilter ;
}
