$primaryColor: #0958DD ;
$blueColor1: #009CFF ;
$blueColor2 : #003DBB ;
$purpleColor1: #6956D8 ; 
$purpleColor2: #9090C5 ;
$greenColor1: #6BFBCE ;
$greenColor2: #1EC198 ;
$redColor : #FF5198 ;
$redColor2: #e74a4a ;
$orangeColor : #FF846C ;
$orangeColor2: #ff7914  ;
$paleColor1: #EFEDFF ; 
$paleColor2: rgb(244, 243, 247) ;
$whiteColor: rgb(253,253,253) ;
$whiteColor2: rgb(248,248,248) ;
$whiteColor3: rgb(251,251,251) ;
$greyColor: rgb(123, 123, 128) ; 
$greyColor2 : #A8AABC ;
$darkColor: #2d2d31 ; 
$orangeColor: #ff8f00 ; 
$shadowColor: rgba(70,69,85,.3) ;
$blackFilter: rgba(30,30,30,.7) ;

