@mixin flex($dir,$mainAxis,$crossAxis,$wrap,$wrapBehave) {
    flex-direction: $dir ;
    justify-content: $mainAxis ;
    align-items: $crossAxis ;
    flex-wrap: $wrap ;
    align-content: $wrapBehave ;
}
@mixin bg($url,$pos,$repeat,$size){
    background: url($url) $pos $repeat ;
    background-size: $size ;
}
@mixin ellipse{
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis ;
}
@mixin fullSize{
    width: 100% ;
    height: 100%;
}
@mixin fullSize-abs{
    width: 100% ;
    height: 100%;
    top: 0 ;
    right: 0 ;
    position: absolute ;
}
@mixin center-x{
    position: absolute ;
    right: 50% ;
    transform: translateX(50%) ;
}
@mixin center-y{
    position: absolute ;
    top: 50% ;
    transform: translateY(-50%) ;
}
@mixin center-xy{
    position: absolute ;
    top: 50% ;
    right: 50% ;
    transform: translate(50%,-50%) ;
}
@mixin containerStyle{
    background-color: $whiteColor2 ;
    box-shadow: 0 0 .3em .02em $shadowColor ;
    border: 4px solid white ;
}
@mixin mediaQ-w($maxWidth) {
    @media screen and (max-width: $maxWidth){
        @content ;
    }
}
@mixin mediaQ-h($maxHeight) {
    @media screen and (max-height: $maxHeight){
        @content ;
    }
}
@mixin mediaQ-wh($maxWidth,$maxHeight) {
    @media screen and (max-width: $maxWidth) and (max-height: $maxHeight){
        @content ;
    }
}