@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../variables.scss' ;
body.hideScroll{
    overflow: hidden;
}
#problems{
    width: 80vw ;
    height: auto;
    margin: $dist3 auto 0 auto;
    display: flex ;
    @include flex(column,flex-start,center,nowrap,"") ;
    .content{
        margin: $dist1 auto ;
    }
    .title{
        width: auto ;
        height: auto;
        display: flex ;
        @include flex(column,flex-start,center,nowrap,"") ;
        h4,p{
            margin: $dist1 auto ;
        }
        h4{
            font-size: $font-special - .2em ;
            font-weight: 700 ;
            color: $darkColor ;
        }
        p{
            font-size: $font-l ;
            color: $greyColor2 ;
        }
    }
    .content{
        width: 100% ;
        height: auto;
        @include bg('../../assets/imgs/problem.jpg',center center,no-repeat,cover) ;
        position: relative ;
        padding: $dist1 ;
        display: flex ;
        @include flex(row,flex-start,center,nowrap,"") ;
        overflow: hidden;
        &::before{
            content: '' ;
            @include fullSize-abs ;
            background-color: $blackFilter;
        }
        ul{
            flex-shrink: 0 ;
            width: 24em ;
            height: 100%;
            position: relative ;
            z-index: 2 ;
            padding: $dist1 ;
            display: flex ;
            @include flex(row,flex-start,flex-start,wrap,flex-start) ;
            li{
                width: 10em ;
                height: auto;
                margin: $dist1 ;
                cursor: pointer;         
                display: flex ;
                @include flex(row,flex-start,center,nowrap,"") ;                     
                p,i{
                    margin: 0 $dist1 ;
                }
                i{
                    width: 3em ;
                    height: 3em;
                    border-radius: 50% ;
                    position: relative ;
                    background-color: $blackFilter ;
                    transition: all .3s ease-in-out ;
                    box-shadow: 0 0 .2em .2em transparent ;
                    cursor: pointer;
                    &::before{
                        @include center-xy ;
                        font-size: 1.6em ;
                        color: lighten($primaryColor,14%) ;
                        transition: all .3s ease-in-out ;
                    }            
                }
                p{
                    font-size: $font-m ;
                    color: $paleColor ;
                    margin-right: 0 ;
                }
                &:hover{
                    i{
                        background-color: $primaryColor ;
                        box-shadow: 0 0 1.5em .2em $primaryColor ;
                        &::before{
                            color: $paleColor ;
                        }
                    }             
                }
        
            }
        }
        .tabs_wrapper{
            width: 100% ;
            height: 20em;
            margin-right: $dist1 ;
            position: relative;
            z-index: 2;
            .tab{
                border-radius: $dist2 ;
                opacity: 0;
                visibility: hidden ;
                transition: all .3s ease-in-out ;
                background-color: darken($whiteColor2,12%) ;
                padding: $dist2 ;
                font-size: $font-m ;
                color: $darkColor ;
                line-height: $dist3 ;
                width: 100% ;
                max-height: 100%  ;
                overflow: auto;
                position: absolute ;
                top: 50% ;
                transform: translateY(-50%) ;
                right: 0; 
            }
            .tab.active{
                opacity: 1;
                visibility: visible ;
            }
            
        }
    }
}
@media screen and (max-width:1000px){
    #problems{
        .content{
            font-size: 16px ;
        }
    }
}
@media screen and (max-width:900px){
    #problems{
        font-size: 16px ;
    }
}
@media screen and (max-width:800px){
    #problems{
        width: 95% ;
        .content{
            ul{
                width: 20em ;
                li{
                    width: 8em ;
                }
            }
        }
    }
}
@media screen and (max-width:600px){
    #problems{
        font-size: 12px ;
        .content{
            font-size: 12px ;
        }
    }
}
@media screen and (max-width:450px){
    #problems{
        .content{
            @include flex(row,space-around,center,nowrap,"") ;
            ul{
                width: 90% ;
                @include flex(row,space-around,center,wrap,flex-start) ;
            }
            .tabs_wrapper{
                position: fixed ;
                top: 0;
                right: -2.5vw;
                width: 101vw ;
                height: 100vh;
                opacity: 0;
                visibility: hidden ;
                transition: all .3s linear ;
                z-index: -10;
                .tab{
                    border-radius: 0 ;

                    width: 100% ;
                    height: 100%;
                }
            }
            .tabs_wrapper.show{
                z-index: 10;
                opacity: 1;
                visibility: visible; 
            }
        }
    }
}
@media screen and (max-width:300px){
    #problems{
        .content{
            @include flex(row,space-around,center,nowrap,"") ;
            ul{
                width: 100% ;
                @include flex(column,flex-start,center,nowrap,"") ;
                li{
                    width: 60% ;
                    text-align: center ;
                    @include flex(row,flex-start,center,nowrap,"") ;
                    font-size: 14px ;
                }
            }
        
        }
    }
}