#why_us {
  width: 100%;
  height: auto;
  margin: 4em auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: space-around;
  -webkit-align-items: space-around;
     -moz-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  background-color: #f1f0f5;
}

#why_us .title, #why_us .items, #why_us video {
  margin: 0.5em 0;
}

#why_us .title {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin-left: auto;
  margin-right: auto;
}

#why_us .title .line, #why_us .title h4 {
  margin: 0 1em;
}

#why_us .title .line {
  width: 12em;
  height: .2em;
  background-color: #5e5e66;
}

#why_us .title h4 {
  font-size: 1.4em;
  font-weight: 700;
  color: #2d2d31;
}

#why_us .items {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

#why_us .items .item {
  margin: 0.5em 0;
  width: 15em;
  height: 13em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#why_us .items .item img, #why_us .items .item h6, #why_us .items .item p {
  width: auto;
  margin: 0;
}

#why_us .items .item img {
  width: 7em;
  height: 7em;
}

#why_us .items .item h6 {
  font-size: 1em;
  color: #2d2d31;
}

#why_us .items .item p {
  font-size: 0.7em;
  color: #86878e;
}

#why_us video {
  width: 35em;
  height: 20em;
  position: relative;
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
/*# sourceMappingURL=why-us.css.map */